RewriteEngine on 
RewriteCond $1 !^(index.php|css|js|images|robots.txt) 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /ui_fisi/index.php/$1 [L]
ErrorDocument 404 /ui_fisi/index.php