.fix_hgt{ /*Clase de Div = Cuerpo de Secciones */
    height: 410px;
  }
  .observaciones{ /*Clase de Div = Cuerpo de observaciones */
    height: 100px;
  }
  .table_seccion {
    width: 100%;
  }
  .nombre {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 10px;
    height: 156px;
    width: 757px;
  }
  .caratula {
    text-align: center;
  }
  .seccion{
    padding: 20px 5px 20px 5px;
    font-weight: bold;
    font-size: 17px;
  }
  .sub_seccion{
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
  }
  .seccion_text{
    padding-top: 10px;
    font-size: 12px;
  }
  .base_documento {
    background: #C0C0C0!important;
    padding: 20px;
  }
  .documento {
    background: white!important;
    padding: 20px;
  }
  /*table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: silver;
  }*/
  .parte_text{
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    padding: 5px;
    height: 40px;
    overflow:auto;
  }


  #Modal-Parte  {
    width: 1180px;
    left: 30%;
  }

  #Modal-Parte > div > div > .modal-body {
    height: 435px;
    max-height: 600px;
  }

  #Modal-EditNombre {
    width: 860px;
    left: 40%;
  }

  #Modal-Parte > div > div > .modal-body {
    height: 435px;
    max-height: 600px;
  }

  .modal.fade.in {
    top: 6%;
  }


  li{
    line-height: 15px; 
  }

  .widget-content {
    border-bottom: 0px; 
  }



  
